{% extends 'base.html.twig' %}

{% block body %}
    <div id="page-wrapper" style="min-height: 650px;">
            <div class="row">
                <div class="col-lg-12">
                        <h1 class="page-header">Asteroid - Details</h1>
                </div>
                    <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
            <table class="table">
               <thead>
                    <th>Description</th>
                    <th>Value / Action</th>

               </thead>
               <tbody>
               <form action='' method="post">
                   <tr><td>Current Sector</td><td>{{logs.getCurrentSector()}}</td></tr>
                   <tr><td>Last Position</td><td>{{ logs.getLastPosition() }}</td></tr>
                   <tr><td>Name</td><td>{{ logs.getName() }}</td></tr>
                   <tr><td>Despawn Action</td><td><input type="submit" name="do_action" value="Despawn" class="btn btn-md btn-info"></td></tr>
               </form>    
               </tbody>
               
           </table>
            </div>
        </div>
{% endblock %}

