{% extends 'base.html.twig' %}

{% block body %}
    <div id="page-wrapper" style="min-height: 650px;">
            <div class="row">
                <div class="col-lg-12">
                        <h1 class="page-header">Votes Logs</h1>
                </div>
                    <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
            <table class="table" id="votesLog">
               <thead>
                    
                    <th>line</th>
                    <th>info</th>
                    <th>name</th>
                    <th>time</th>
                    
               </thead>
               <tbody>
                   
               </tbody>
               
           </table>
            </div>
        </div>
    <script>
        $(document).ready(function() {
                $('#votesLog').DataTable({
                    "bServerSide": true,
                    "sAjaxSource" : '/admin/votesAjax',
                    "sServerMethod": "POST"
                    },
                    "aoColumns": [
                        { "mData": 'line', 
                            "bSearchable": true,
                            "bSortable": true},
                        { "mData": 'INFO',
                            "bSearchable": true,
                            "bSortable": true},
                        { "mData": 'NAME',
                            "bSearchable": true,
                            "bSortable": true},
                        { "mData": 'TIME',
                            "bSearchable": true,
                            "bSortable": true}
                    ]
                });});
            
        
            
            
    </script>
{% endblock %}

{% block stylesheets %}

{% endblock %}
