{% extends 'base.html.twig' %}

{% block body %}
    <div id="page-wrapper" style="min-height: 650px;">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Kills Logs</h1>
                </div>
                    <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
            <table class="table" id="killsLog">
               <thead>
                   
                    <th>line</th>
                    <th>killer</th>
                    <th>killtime</th>
                    <th>victim</th>
                </thead>
               <tbody>
                   
               </tbody>
               
           </table>   
            </div>
        </div>
    <script>
        $(document).ready(function() {
                $('#killsLog').DataTable({
                    "bServerSide": true,
                    "sAjaxSource" : '/admin/killsAjax',
                    "sServerMethod": "POST"
                    },
                    "aoColumns": [
                        { "mData": 'line', 
                            "bSearchable": true,
                            "bSortable": true},
                        { "mData": 'KILLER',
                            "bSearchable": true,
                            "bSortable": true},
                        { "mData": 'KILLTIME',
                            "bSearchable": true,
                            "bSortable": true},
                        { "mData": 'VICTIM',
                            "bSearchable": true,
                            "bSortable": true}
                    ]
                });});
        
        
            
    </script>
{% endblock %}

{% block stylesheets %}

{% endblock %}
